@model BankManager_Csharp.Models.Response
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>



<form class="login-form" action="/Login/Authorize" method="post">
    Username:<input name="username" type="text" />
    <br />
    Password:<input name="password" type="password"/>
    <br />

    <input type="submit" value="Log in" />
</form>

<div id="message">
    @Html.DisplayFor(model => model.message)
</div>
</html>


