@model BankManager_Csharp.Models.Response
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>



<form action="/Login/Authorize" method="post">
    <input name="username" type="text" />
    <input name="password" type="password"/>

    <input type="submit" value="Log in" />
</form>

@Html.DisplayFor(model => model.message)

</html>


