
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="Register/Create" method="post">
    Username: <input type="text" name="username" required />
    <br>
    Password: <input type="password" name="password"  required />
    <br>
    First name: <input type="text" name="firstName"  required />
    <br>
    Last name: <input type="text" name="lastName" required />
    <br>
    Address: <input type="text" name="address" required />
    <input type="submit" value="Register" />

</form>

