@model BankManager_Csharp.Models.Response
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/Register/Create" method="post">
    Username: <input type="text" name="username" value=@TempData["username"] ?? String.Empty required />
    <br>
    Password: <input type="password" name="password"  required />
    <br>
    First name: <input type="text" name="firstName" value=@TempData["firstName"] ?? String.Empty  required />
    <br>
    Last name: <input type="text" name="lastName" value=@TempData["lastName"] ?? String.Empty required />
    <br>
    Address: <input type="text" name="address" value=@TempData["address"] ?? String.Empty required />
    <input type="submit" value="Register" />
</form>

@if (Model != null)
{
    @Html.DisplayFor(model => model.message)
}
