<!DOCTYPE html>

{% if user_data %}
    Username: {{user_data.username}}
    <br>
    First name: {{user_data.first_name}}
    <br>
    Last name: {{user_data.last_name}}
    <br>
    Address: {{user_data.address}}
    <br>
    Balance: {{user_data.balance}}
    <br>


    <br><br>
    Withdraw or deposit:
    <br>
    <form method="post">
        <input type="number" name="amount" value="0"/>
        <input name="option" type="radio" value="Withdraw" id="Withdraw" checked/> Withdraw
        <input name="option" type="radio" value="Deposit" id="Deposit"/> Deposit
        <input type="submit" value="Complete transaction"/>
    </form>
    <br>

    {% if message %}
        {{message}}
    {% endif %}

    <br>
    <br>
    {% for transaction in user_data.history %}
        transaction id: {{transaction.transaction_id}}
        <br>
    {% endfor %}


{% endif %}



</html>